p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 500rem;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

.card {
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1rem 0rem 0.5rem rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.card--title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 1rem;
  }

  .input {
    margin-bottom: 0;
  }
}
